body {
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

.main-body {
	display: block;
	text-align: center;
}

.linkbox {
	display: flexbox;
	position: relative;
	text-align: right;
	vertical-align: middle;
}

.linkbox .item {
	text-align: left;
}

.title {
	font-size: 3rem;
}

.linkbox .logo {
	vertical-align: middle;
}

.linkbox .link {
	text-decoration: underline;
}

.linkbox .link .external-link-logo {
	padding: 0;
	vertical-align: middle;
}

.link-div {
	display: flex;
	flex-direction: column;
	width: 150px;
	margin-right: 2vw;
	transition: transform 0.2s;
}

a {
	text-decoration: 1px underline;
	font-size: 1.4rem;
	margin: 2.5rem;
	color: blue;
}

.link-div img {
	width: 150px
}

.container{
	display: flex;
	flex-direction: row;
	align-items: center;
	display: flex;
	justify-content: center;
	/* margin: auto; */
	width: 50%;
	margin: 0 auto;
}
