body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

.main-body {
    display: block;
    text-align: center;
}

.linkbox {
    display: flexbox;
    position: relative;
    text-align: right;
    vertical-align: middle;
}

.linkbox .item {
    text-align: left;
}

.linkbox .logo {
    vertical-align: middle;
}

.linkbox .link {
    text-decoration: underline;
    color: #0011F0;
}

.linkbox .link .external-link-logo {
    padding: 0;
    vertical-align: middle;
    fill: #0011F0;
}

.credits {
    position: fixed;
    bottom: 1em;
    right: 2em;
}

.link-div {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 2vw;
    transition: transform 0.2s;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
}

.link-div:hover{
    transform: scale(1.2)
}

.link-div img {
    width: 150px
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin: auto; */
    width: 50%;
    margin: 0 auto;
}
